/* CSS for the homepage example index.html*/
* {
	box-sizing: border-box;
}

/*body {*/
/*	width: 100vw;*/
/*	height: 100vh;*/
/*	margin: 0;*/
/*	padding: 0 16px;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	align-items: center;*/
/*	font-family: 'Montserrat', sans-serif;*/
/*}*/

header {
	height: 10vh;
	text-align: center;
	justify-content: center;
	padding-top: 20px;
}
header form {
	display: inline-block;
}
#scheduleBtn, #mapBtn {
	text-decoration: none;
	font-size:20px;
}

#scheduleBtn:hover, #mapBtn:hover {
	background-color:gray;
}
body, html {
	margin: 0;
	padding: 0;
	background-color: #3e495e;
}

#map-div { 
	width: 55%; 
	height: 80vh; 
	margin: 30px;
	border-radius: 25px;
	border:5px solid black;
	float: right;
	display: inline-block;
}
#user-wrap {
	width: 35%;
	float: left;
	display: inline-block;
    box-sizing: border-box;
    overflow: auto;
    margin:40px;
}
#setHome {
	font-family: 'Montserrat', sans-serif;
	border:5px solid black;
	border-radius: 12px;
	padding:10px;
    margin-bottom: 10px;
	align-items: center;
	overflow:hidden;
	background-color: #e9e9e9;
	display:flex;
	justify-content: space-between;
}
#setHome input[type=text]{
	border: none;
	font-size: 27px;
}
#geocodeBtn {
	float: right;
	padding:10px 20px;
	background-color: #555555;
	border: none;
	color: white;
	margin-right:3px;
	display: inline-block;
}
#tasks {
	height: 50vh;
	border:5px solid black;
	border-radius: 12px;
    background-color: #ffffff;
    margin-top: 10px;
}
#list-wrap {
	padding:15px;
}
#inputHeader {
	padding:10px;
	align-items: center;
	padding-bottom: 15px;
	background-color: #e9e9e9;
}
#inputHeader input[type=text]{
	border: none;
	font-size: 27px;
}
#addTaskButton {
	float: right;
	padding:10px 20px;
	background-color: #555555;
	border: none;
	color: white;
	margin-left: 3px;
}
#routeButton {
	float: right;
	padding:10px 20px;
	background-color: #555555;
	border: none;
	color: white;
	margin-right:3px;
}
#container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#list {
	width: 20vw;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size:25px;
}


#user-wrap2 {
	width: 25%;
	float: left;
	display: inline-block;
    box-sizing: border-box;
    overflow: auto;
}
#schedule-wrap {
	width: 100%;
	align-items: flex-start;
}
#setScheduleBtn, #setTimeBtn {
	padding:10px 20px;
	background-color: #555555;
	border: none;
	color: white;
	margin-left: 3px;
}
.schedule {
	width: 70vw;
	background-color: #3a3a3f;
	border: 5px solid black;
	float: right;
}
table{
	border-collapse: collapse;
}
th {
	empty-cells:show;
	border: 1px solid gray;
	width: 13vw;
	font-size: 23px;
	color: white;
}
td {
	empty-cells: show;
	border: 1px solid gray;
	text-align: center;
	overflow: auto;
	color: white;
}
tr {
	
}
.time {
	width:5px;
	font-size: 15px;
}